<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shopify MERN Boilerplate App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.13.1/styles.min.css"
    />
  </head>

  <body>
    <div id="root"></div>
    <script>
      window.authToken = '<%= authToken %>';
    </script>
    <script src="./main.js"></script>
  </body>
</html>
